[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
requests = "*"
aiohttp = "*"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
responses = "*"
aioresponses = "*"

[requires]
python_version = "3.9"
